# Python
__pycache__/
*.py[cod]
*.so
.env
venv/
env/
*.egg-info/

# Node
node_modules/
dist/
dist-ssr
*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store
*.swp

# Build
build/

# Word temp files
~$*
*.tmp
